body{
    background-color: aqua!important;
}



button#btn{
    position: fixed;
    bottom: 120px;
    right: 20px;
    height: 40px;
    width: 40px;
    z-index: 1000;
    background-color: aqua;

    border-radius: 20px;
}


#btn:hover{
    background-color: teal;
    cursor: pointer;
}